html {
    position: relative;
    height: 100%;
    width: 960px;
    box-sizing: border-box;
    display: inline-block;
    padding-left: 250px;
  }
  
  body {
	background-image: url("../images/landscape-nature.jpg");
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    color: black;
  }

  h1 {
    color: black;
    text-align: center;
  }

  #animal-form {
    float: right;
    padding-left: 25px;
    text-decoration: none;
  }

  #animals {
    display: inline-block;
    box-sizing: border-box;
    width: 31.33%;
  }

  